.banner {
    background: var(--white);
    position: relative;
    height: 100vh;
    width: 100%;
    top: -1;
    background: url('../../assets/img/banner.jpg');
    background-size: cover;
    background-position: center center; 
}